<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel Rubi</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>

<body class="d-flex flex-column">
    <header>
        <div class="container d-none d-md-block my-md-2">
            <div class="row d-flex justify-content-md-center">
                <div class="col-4 text-center">
                    <img src="../assets/img/logo-md.svg">
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand d-block d-md-none" href="#"><img src="../assets/img/logo-sm.svg"></a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span><img src="../assets/img/icon-menu.svg"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center justify-content-lg-between"
                id="navbarSupportedContent">
                <ul class="navbar-nav mr-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="inicio.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="habitaciones.html">Habitaciones</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="evento.html">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contáctanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                </ul>
                <form class="form-inline d-none d-lg-flex">
                    <p class="my-lg-1 mr-lg-4">955-908-370</p>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Reservar</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="container-fluid my-auto">
        <div class="row">
            <div class="col-12 my-4 text-center">
                <h4>DINING & EVENTS</h4>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column align-items-center">
                <img src="../assets/img/evento1.png" class="card-img-top">
                <h5 class="mt-5 mb-0">LA MISSION RESTAURANT & BAR</h5>
                <h6>“La noche es testigo de la diversión”</h6>
                <p><small>Blu Bar</small></p>
                <div class="mb-2"></div>
                <p class="mb-0">Horario de Atención:</p>
                <p><small>Mon - Sun 11:30am -11:00pm</small></p>
                <div class="mb-2"></div>
                <p class="mb-0">Show Musical en vivo:</p>
                <p><small>Mon - Sun 11:00pm</small></p>
                
                <p class="my-2 text-justify mx-3"><small>
                        Un entorno tranquilo, acogedor y lujoso dotado de la máxima privacidad y exclusividad para
                        una experiencia única e inolvidable.

                        Ventura Unos buenos tragos y piqueos al lado de una espectacular vista a la piscina
                        es el plan perfecto que te ofrece Blu Bar.
                        No te puedes perder nuestros show musicales de los fines de semana y las promociones
                        especiales.
                    </small></p>
                <p class="mt-5 mb-0">Reservas:</p>
                <p><small> (074) 228172 – anexo 230: Celular: 993 501 500 </small></p>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column align-items-center">
                <img src="../assets/img/evento6.jpeg" class="card-img-top">
                <h5 class="mt-5 mb-0">CASINO & DIVERSIÓN</h5>
                <h6>“La noche es testigo de la diversión”</h6>
                <p><small>Cassino</small></p>
                <div class="mt-1"></div>
                <p class="mb-0">Horario de Atención:</p>
                <p><small>Mon - Sun 11:30am -11:00pm</small></p>
                <div class="mb-2"></div>
                <p class="mb-0">Bingo:</p>
                <p><small>Mon - Sun 11:30am -11:00pm</small></p>
                <p class="text-justify mx-3 mt-2"><small>Ofrece y pone a disposición de sus visitantes una amplia gama de atracciones,
                    entre máquinas slots, mesas de juego, espectáculos y mucho más. Lo invitamos a compartir
                    agradables momentos junto a nosotros, en un cálido y cómodo ambiente, donde encontrará mucha
                    diversión.</small></p>
                <p class="mb-0">Tiene a su disposición:</p>
                <p class="mb-0"><small> 300 máquinas de juegos de azar</small></p>
                <p class="mb-0"><small> 3 ruletas electrónicas</small></p>
                <p class="mb-0"><small> 3 mesas de póker Texas hold em</small></p>
                <p><small> 1 mesa de póker caribeño</small></p>
            </div>
        </div>
    </div>

    <footer class="fix-footer">
        <div class="container pt-2 pb-1">
            <div class="row">
                <div class="col-8 d-flex align-items-end">
                    <small class="text-white" style="font-size: 10px;">Todo los derechos reservados</small>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-end">
                    <img src="../assets/img/prueba.webp" style="width: 20% !important;">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>