<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel Rubi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/jquery.datetimepicker.min.css">
</head>

<body>
    <header>
        <div class="container d-none d-md-block my-md-2">
            <div class="row d-flex justify-content-md-center">
                <div class="col-4 text-center">
                    <img src="../assets/img/logo-md.svg">
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand d-block d-md-none" href="#"><img src="../assets/img/logo-sm.svg"></a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span><img src="../assets/img/icon-menu.svg"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center justify-content-lg-between"
                id="navbarSupportedContent">
                <ul class="navbar-nav mr-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="inicio.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cuarto.html">Cuartos</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="evento.html">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contactanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                      </li>
                </ul>
                <form class="form-inline d-none d-lg-flex">
                    <p class="my-lg-1 mr-lg-4">955-908-370</p>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Reservar</button>
                </form>
            </div>
        </nav>
    </header>

    <section>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <h4>DINING & EVENTS</h4>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 py-2">
                    <div class="row">
                        <div class="col-12 mb-3">
                          <img src="../assets/img/evento1.png" class="card-img-top">  
                        </div>
                        <div class="col-12 text-center">
                            <h5 class="mb-0">LA MISSION RESTAURANT & BAR</h5>
                            <p><small>CHEF RESTAURANT</small></p>
                            <div class="mb-5"></div>
                            <p class="mb-0">Lunch and Dinner:</p>
                            <p><small>Mon - Sun 11:30am -11:00pm</small></p>
                            <div class="mb-3"></div>
                            <p class="mb-0">For inquieres and reservations:</p>
                            <p><small>Mon - Sun 11:30am -11:00pm</small></p>
                            <p>----</p>
                            <p class="mb-0">Breakfast:</p>
                            <p><small>Mon-Fri 6:30am -10am    Sat-Sun 7:30am - 11am</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 py-2">
                    <div class="row">
                        <div class="col-12 mb-3">
                          <img src="../assets/img/evento6.jpeg" class="card-img-top">  
                        </div>
                        <div class="col-12 text-center">
                            <h5 class="mb-0">LA MISSION RESTAURANT & BAR</h5>
                            <p><small>CHEF RESTAURANT</small></p>
                            <div class="mb-5"></div>
                            <p class="mb-0">Lunch and Dinner:</p>
                            <p><small>Mon - Sun 11:30am -11:00pm</small></p>
                            <div class="mb-3"></div>
                            <p class="mb-0">For inquieres and reservations:</p>
                            <p><small>Mon - Sun 11:30am -11:00pm</small></p>
                            <p>----</p>
                            <p class="mb-0">Breakfast:</p>
                            <p><small>Mon-Fri 6:30am -10am    Sat-Sun 7:30am - 11am</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer style="background: #800000;">
        <div class="container pt-2 pb-1">
            <div class="row">
                <div class="col-8 d-flex align-items-end">
                    <small class="text-white" style="font-size: 10px;">Todo los derechos reservados</small>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-end">
                    <img src="../assets/img/prueba.webp" style="width: 20% !important;">
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>