<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hotel Rubi</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="../assets/css/estilos.css">
</head>

<body>
  <header>
    <div class="container d-none d-md-block my-md-2">
      <div class="row d-flex justify-content-md-center">
        <div class="col-4 text-center">
          <img src="../assets/img/logo-md.svg">
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand d-block d-md-none" href="inicio.html"><img src="../assets/img/logo-sm.svg"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><img src="../assets/img/icon-menu.svg"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center justify-content-lg-between"
        id="navbarSupportedContent">
        <ul id="menu" class="navbar-nav mr-lg-auto">
          <li class="nav-item active">
            <a class="nav-link" href="inicio.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cuarto.html">Cuartos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="evento.html">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contactanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
        </ul>
        <form class="form-inline d-none d-lg-flex">
          <p class="my-lg-1 mr-lg-4">955-908-370</p>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Reservar</button>
        </form>
      </div>
    </nav>
  </header>

  <div id="seccion1" class="d-flex align-items-center parallax">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center align-items-lg-center py-3">
        <div class="col-7 col-sm-7 col-md-6 text-center mb-3 mb-md-0 pt-md-3 align-items-lg-center">
          <h4 class="text-blanco">Mensaje de bienvenida del hotel</h4>
          <a href="cuarto.html" role="button" class="btn text-white btn-red">Nuestros cuartos</a>
        </div>
        <div class="col-12 col-sm-10 col-md-6">
          <form>
            <div class="form-row py-3 px-3">
              <div class="col-12 mb-2">
                <input type="text" class="form-control" id="fechaEntrada" placeholder="Fecha Entrada" readonly>
              </div>
              <div class="col-12 mb-2">
                <input type="text" class="form-control" id="fechaSalida" placeholder="Fecha Salida" readonly>
              </div>
              <div class="col-12 mb-2">
                <input type="text" class="form-control" id="inputEmail4" placeholder="Adultos - Niños">
              </div>
              <div class="col-12 d-flex justify-content-end">
                <button type="button" class="btn btn-red text-white">Buscar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center mt-5">
    <div class="container mb-4 mb-md-0 my-md-4">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6 col-lg-5 text-center">
          <h2 class="text-rojo">Lorem Ipsum</h2>
            <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book</p>
        </div>
        <div class="col-8 col-md-6 col-lg-5 text-center">
          <img src="../assets/img/caratula1.jpg" class="card-img">
        </div>
      </div>
    </div>
  </div>

  <div id="seccion2" class="d-flex align-items-center parallax">
    <div class="container">
      <div class="row mb-3">
        <div class="col-12 text-center">
          <h4 class="text-rojo">Servicios del hotel</h4>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-10 col-md-6 pl-lg-3 mb-3">
          <div class="row no-gutters">
            <div class="col-4">
              <img src="../assets/img/evento2.jpg" class="card-img">
            </div>
            <div class="col-8 text-center py-1 border border-left-0" style="border-color: #6FBF01 !important;">
              <h5 class="card-title" style="font-size: 16px;">Lorem Ipsum</h5>
              <p style="font-size: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-10 col-md-6 pr-lg-3 mb-3">
          <div class="row no-gutters">
            <div class="col-8 text-center py-1 border border-right-0" style="border-color: #6FBF01 !important;">
              <h5 class="card-title" style="font-size: 16px;">Lorem Ipsum</h5>
              <p style="font-size: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-4">
              <img src="../assets/img/evento3.jpg" class="card-img">
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-10 col-md-6 pl-lg-3 mb-3">
          <div class="row no-gutters">
            <div class="col-4">
              <img src="../assets/img/evento4.jpg" class="card-img">
            </div>
            <div class="col-8 text-center py-1 border border-left-0" style="border-color: #6FBF01 !important;">
              <h5 class="card-title" style="font-size: 16px;">Lorem Ipsum</h5>
              <p style="font-size: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-10 col-md-6 pr-lg-3">
          <div class="row no-gutters">
            <div class="col-8 text-center py-1 border border-right-0" style="border-color: #6FBF01 !important;">
              <h5 class="card-title" style="font-size: 16px;">Lorem Ipsum</h5>
              <p style="font-size: 10px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-4">
              <img src="../assets/img/evento5.jpg" class="card-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer style="background: #800000;">
    <div class="container pt-2 pb-1">
      <div class="row">
        <div class="col-8 d-flex align-items-end">
          <small class="text-white" style="font-size: 10px;">Todo los derechos reservados</small>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-end">
          <img src="../assets/img/prueba.webp" class="d-block d-sm-none w-50">
          <img src="../assets/img/prueba.webp" class="d-none d-sm-block w-25">
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="../assets/js/jquery.datetimepicker.full.min.js"></script>

  <script src="../assets/js/accion.js"></script>

</body>

</html>